[Unit]
Description=pvagw-aaa
After=multi-user.target
Requires=multi-user.target

[Service]
Type=forking
ExecStart=/cds/group/pcds/gateway/scripts/pvagw-aaa.sh start
PIDFile=/run/pvagw-aaa.pid
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
