[Unit]
Description=epicscagd-aaa
After=multi-user.target
Requires=multi-user.target

[Service]
Type=forking
ExecStart=/reg/g/pcds/gateway/scripts/epicscagd-aaa start
PIDFile=/run/epicscagd-aaa.pid
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
